body {
	margin: 0px;
}
.CodeMirror {
  border: 1px solid #eee;
  /*height: auto;*/
}
.CodeMirror-scroll {
  /*overflow-y: hidden;*/
  /*overflow-x: auto;*/
}
/*.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bloc {
	position: absolute;
	width: 50%;
}

.right-side {
	left: 50%;
}

#editor-div {
	top: 0%;
}*/
